$body_margin: 8px;

body {
  background-color: #eee;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  width: 750px;
  margin: $body_margin auto;
  position: relative;
}


#heading {
    position: absolute;
    right: 5px;
    top: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
    padding: 5px;
    position: absolute;
    top: -$body_margin;
    left: 0px;
    span {
        font-size: 18px;
        background-color: green;
        color: white; 
    }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
